<mat-drawer-container autosize>
	<mat-drawer #drawer mode="over">
		<mat-toolbar>
			<h2 class="mat-title">
				Menu
			</h2>
		</mat-toolbar>
		<mat-nav-list>
			<mat-list-item routerLink="/home">
				Home
			</mat-list-item>
			<mat-list-item routerLink="/about">
				About
			</mat-list-item>
			<mat-list-item routerLink="/contact">
				Contact
			</mat-list-item>
		</mat-nav-list>
	</mat-drawer>
	<div class="main-layout-container">
		<mat-toolbar>
			<mat-toolbar-row>
				<button type="button" mat-icon-button (click)="drawer.toggle()" color="primary" class="mr-2">
					<mat-icon>
						menu_open
					</mat-icon>
				</button>
				<div class="main-toolbar-title" routerLink="/home">
					Blog-tech
				</div>
				<span style="flex: 1 1 auto;"></span>
				<button mat-button routerLink="auth/login">
					Login
				</button>
				<button mat-stroked-button routerLink="auth/signup">
					Signup
				</button>
			</mat-toolbar-row>
		</mat-toolbar>
		<div>
			<router-outlet></router-outlet>
		</div>
	</div>
	<!-- <app-footer></app-footer> -->
</mat-drawer-container>