<div class="main-container margin">
	<div fxLayout="row wrap" fxLayoutGap="0px grid" fxLayoutAlign="center center">
		<div fxFlex="100%">
			<h1 class="text-center mat-title mb-4 mt-4 pb-0 pt-0">
				About
			</h1>
		</div>
		<div fxFlex="90%" fxFlex.gt-sm="70%">
			<mat-card>
				<mat-card-content>
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores nemo alias asperiores facilis a rerum possimus quasi saepe modi explicabo corporis eius velit fuga cupiditate, voluptatem consectetur laborum debitis provident laudantium, temporibus in nobis! Doloremque labore error dolorem? Tempora, quisquam facilis? Id mollitia rem deserunt eaque blanditiis sed ab maxime, dolore vel illo delectus, aliquam aut porro perspiciatis cum odit iusto laboriosam harum, nesciunt quasi! Quia voluptas suscipit, ex nesciunt odio totam dignissimos sequi nemo! Enim voluptates architecto magni, soluta maiores dolor! Officia iure saepe quas hic. Quibusdam veniam aut voluptatem quo possimus vel, ullam id excepturi mollitia, ducimus ea!
				</mat-card-content>
			</mat-card>
		</div>
		<div fxFlex="100%" class="text-center mt-6">
			<button mat-stroked-button color="primary" routerLink="/">Home</button>
		</div>
	</div>
</div>